.about-us-frame{
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #CEC6BE, whitesmoke);
}
.about-us-frame h1{
    align-items: center;
}

.about-us-sub-frame{
    width: 80%;
    border: 3px solid #2E210F;
    display: flex;
    margin-left: 130px;
    border-radius: 20px;

}

.about-us-header-frame{
    height: 500px;
    width: 1000px;
}

.our-story-frame{
    margin-left: 15px;
}

.our-story-frame h1{
    width: 200px;
    height: 24px;
    font-size: 30px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #111014;
    margin-bottom: 50px;
}

.our-story-frame p{
    width: 650px;
    height: 14px;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #111014;
}
.our-story-frame br{
    margin-top: 10px;
}