.contact-main-frame{
    background-color: #ECE9E5;
    height: 600px;
    padding-top: 100px;
}
.contact-sub-frame{
    border: 1px solid #2E210F;
    width: 90%;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin: auto;
    border-radius: 10px;
}

.contact-frame{
    background-color: #F5F5F5;
    width: 300px;
    height: 100px;
    display: flex;
    border-radius: 5px;
    padding: 10px;
}

.contact-frame img{
    width: 90px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;

}

.contact-frame h1{
    height: 24px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0em;
    color: #2E210F;
    text-align: left;
}