.footer_frame{
    background-color: #e1dad2;
    padding: 50px;
}
.footer-sub-frame{
    margin: auto;
    width: 1100px;
    border-radius: 10px;
}
.footer_frame p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #111014;
}