.footer_frame{
    background-color: #e1dad2;
    width: 100%;
    padding: 50px;
}
.footer-sub-frame{
    margin: auto;
    border: 1px solid  #2E210F;
    width: 1000px;
    border-radius: 10px;
}
.footer_frame p{
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    text-align: center;
    color: #111014;
}