.whole-frame{
    background-color: whitesmoke;
    width: 100%;
}

.nav-frame{
    display: flex;
    border: 1px solid #CAA996;
}
.logo-frame img{
    margin-left: 95px;
    width: 120px;
    margin-top: 10px;
    margin-right: 15px;
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
    list-style: none;
    text-decoration: none;
    color: #2E210F;
    text-decoration-color: #2E210F;
    margin-right: 150px;
}

.nav-link-detail{
    text-decoration-style: solid;
    font-size: medium;
    font-weight: normal;
    justify-content: space-between;
    position: relative;
    display: inline-block;
    list-style:none;
    margin-left:35px;
    margin-top: 18px;
    transition:0.5s;
}

.nav-link-detail a{
    color: #2e210f;
    text-decoration: none;
    display: block;
    position:relative;
    padding:5px;
    font-size:15px;
    font-family: sans-serif;
    text-transform:uppercase;
    transition:0.5s;
}

.nav-link-detail:hover a{
    transform:scale(1.2);
    opacity:0.2;
    filter:blur(5px);
}

.nav-link-detail a:hover{
    transform:scale(1.5);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color: #CABFB3;
}

.nav-link-detail a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#c5a081;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1
}

.nav-link-detail a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
}

.home-page-frame{
    background-image: linear-gradient(to bottom, whitesmoke, #CEC6BE);
    height: 300px;
    display: flex;
    margin-top: 10px;
}

.header-text-frame{
    width: 50%;
    margin-left: 140px;
}

.header-text-frame h1{
    width: 700px;
    height: 24px;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #111014;
    margin-bottom: 100px;
}

.header-text-frame p{
    width: 650px;
    height: 14px;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #111014;
}

.home-page-image{
    height: 30px;
    width: 530px;
    align-content: center;
}

.home-page-image-lottie{
    height: 280px;
    width: 250px;
    margin-left: 140px;
    margin-top: 20px;
}
