.Home-main-frame{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
}
.text-centre-home{
    width: 60vw;
    height: 99vh;
    justify-content: space-evenly;
    border: 3px solid;
    background-image:
            linear-gradient(to bottom, rgba(246, 246, 246, 0.45), rgba(255, 255, 255, 0.42)),
            url('../../assets/svg/binary-background.svg');
}

.text-centre-home h1{
    width: 700px;
    height: 24px;
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 70px;
    margin-top: 190px;
    /*font-family: "Mochiy Pop P One", sans-serif;*/
}

.name-box{
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 65px;
    line-height: 60px;
    color: rgba(58, 58, 62, 0.82);
    text-shadow: 1px 1px 2px #070707;
}

.flunctuating-text{
    font-family: "Combo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 80px;
}

.text-centre-home p{
    width: 650px;
    height: 14px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.55);
    margin-top: 170px;
}

.Eniola-frame{
    background-image:
            linear-gradient(to bottom, rgba(142, 140, 140, 0.45), rgba(79, 79, 79, 0.42)),
            url('../../assets/svg/binary-background.svg');
    width: 40%;
    align-content: center;

}

.Eniola-frame img{
    height: 580px;
    width: 520px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 50%;
}